.about {
  margin: 3rem 2rem;
  .about-title {
    text-align: center;
    font-size: $primary-size;
    color: $primary-color;
    padding: 1rem;
  }
  .about-text {
    font-size: 1.1rem;
    color: $primary-color;
  }
  .overlay-wrapper {
    .about-image {
      background-image: url("../img/team.jpg");
      background-size: cover;
      background-color: transparent;
      height: 400px;
      width: 500px;
      position: relative;
      margin: 2rem auto;
    }
  }
}

@media only screen and (max-width:991px) {
  .about {
    .about-text {
      font-size: 1rem;
    }
    .overlay-wrapper {
      .about-image {
        height: 260px;
        width: 300px;
      }
    }
  }
}